USE [AnalyticsClass]
GO
/****** Object:  Table [dbo].[suicide_mortality_by_state]    Script Date: 3/24/2022 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suicide_mortality_by_state](
	[YEAR] [smallint] NOT NULL,
	[STATE] [nvarchar](50) NOT NULL,
	[RATE] [float] NOT NULL,
	[DEATHS] [smallint] NOT NULL,
	[URL] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
USE [AnalyticsClass]
GO
/****** Object:  Table [dbo].[suicide_mortality_by_state]    Script Date: 3/24/2022 8:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suicide_mortality_by_state](
	[YEAR] [smallint] NOT NULL,
	[STATE] [nvarchar](50) NOT NULL,
	[RATE] [float] NOT NULL,
	[DEATHS] [smallint] NOT NULL,
	[URL] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[suicide_mortality_by_state] ([YEAR], [STATE], [RATE], [DEATHS], [URL]) VALUES (2020, N'AL', 16, 793, N'/nchs/pressroom/states/alabama/al.htm')
INSERT [dbo].[suicide_mortality_by_state] ([YEAR], [STATE], [RATE], [DEATHS], [URL]) VALUES (2020, N'AK', 27.5, 204, N'/nchs/pressroom/states/alaska/ak.htm')
INSERT [dbo].[suicide_mortality_by_state] ([YEAR], [STATE], [RATE], [DEATHS], [URL]) VALUES (2020, N'AZ', 17.600000381469727, 1363, N'/nchs/pressroom/states/arizona/az.htm')
GO
